configuration {
font:  "SauceCodePro Nerd Font 14";
bw: 0;
case-sensitive: false;
matching: "fuzzy";
sort: true;
sorting-method: "fzf";

theme: "slate";

lines: 8;
modi: "window,run,ssh";
drun-display-format: "{name} [<span weight='light' size='small'>({generic})</span>]";

kb-screenshot: "Alt+S";
kb-cancel: "Escape,Super_R+x";
}
