{:mvn/repos {"sonatype" {:url "https://oss.sonatype.org/content/repositories/snapshots/"}}
 :repos     {"my.datomic.com" {:url "https://my.datomic.com/repo"}
             "central"        {:url "https://repo1.maven.org/maven2/"}
             "clojars"        {:url "https://clojars.org/repo"}}

 :aliases
 {;; pull in specific versions of Clojure:
  :1.10 {:override-deps {org.clojure/clojure {:mvn/version "1.10.0"}}}
  :1.10.1 {:override-deps {org.clojure/clojure {:mvn/version "1.10.1"}}}

  :test {:extra-deps  {nubank/matcher-combinators     {:mvn/version "3.1.1"}
                       nubank/mockfn                  {:mvn/version "0.6.1"}
                       com.cognitect/test-runner      {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                       :sha     "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}
         :extra-paths ["test"]
         :main-opts   ["-m" "cognitect.test-runner"]}

  ;; - see https://github.com/seancorfield/readme
  :readme {:extra-deps {seancorfield/readme {:mvn/version "RELEASE"}}
           :main-opts ["-m" "seancorfield.readme"]}

  ;; - see https://github.com/hugoduncan/criterium/
  ;; - (require '[criterium.core :refer [bench]])
  ;; - (bench (your-expression))
  :bench {:extra-deps {criterium {:mvn/version "RELEASE"}}}

  ;; - see https://github.com/clojure-goes-fast/clj-java-decompiler
  ;; - note: this only seems to work on JDK 8
  ;; - (require '[clj-java-decompiler.core :refer [decompile]])
  ;; - (decompile (your-expression))
  :decompile {:extra-deps {com.clojure-goes-fast/clj-java-decompiler {:mvn/version "RELEASE"}}}
  ;; - see https://github.com/clojure-goes-fast/clj-memory-meter
  ;; - (require '[clj-memory-meter.core :as mm])
  ;; - (mm/measure (your-expression))

  :measure {:extra-deps {com.clojure-goes-fast/clj-memory-meter {:mvn/version "RELEASE"}}}
  ;; - see https://github.com/Olical/depot

  :outdated {:extra-deps {olical/depot {:mvn/version "1.8.4"}}
             :main-opts  ["-m" "depot.outdated.main" "-a" "outdated"]}

  :repl {:extra-paths ["test"]
          :main-opts   ["-m nrepl.cmdline"
                        "--middleware" "[cider.nrepl/cider-middleware]"]
          :extra-deps {nrepl/nrepl                {:mvn/version "0.7.0"}
                       cider/cider-nrepl          {:mvn/version "0.23.0"}}}

  :socket {:jvm-opts ["-Dclojure.server.repl={:port,50505,:accept,clojure.core.server/repl}"]}

  ;; - see https://github.com/stuarthalloway/reflector
  :reflect {:extra-deps {com.stuarthalloway/reflector {:git/url "https://github.com/stuarthalloway/reflector"
                                                       :sha "93a0c19b4526c1180959e940202928d35e5c3cef"}}}

  :deps {:extra-deps {org.clojure/tools.deps.alpha {:git/url "https://github.com/clojure/tools.deps.alpha"
                                                    :sha "19d197ab221d37db750423eb970880cb87a91100"}}
         :main-opts ["-e" "(->>(Thread/currentThread)(.getContextClassLoader)(clojure.lang.DynamicClassLoader.)(.setContextClassLoader,(Thread/currentThread)))"]}

  :graph {:deps {org.clojure/tools.deps.graph {:mvn/version "0.2.24"}}
        :main-opts ["-m" "clojure.tools.deps.graph"]}

  :check {:extra-deps {athos/clj-check {:git/url "https://github.com/athos/clj-check.git"
                                        :sha "e5c848decdd6295a4f486a5cb39e8fc30daaf73a"}}
          :main-opts ["-m" "clj-check.check"]}

  :lint {:extra-deps {com.jameslaverack/cljfmt-runner
                      {:git/url "https://github.com/JamesLaverack/cljfmt-runner"
                       :sha "97960e9a6464935534b5a6bab529e063d0027128"}}
         :main-opts ["-m" "cljfmt-runner.check"]}
  :lint/fix {:main-opts ["-m" "cljfmt-runner.fix"]}

  :nsorg {:extra-paths ["test"]
          :extra-deps  {nsorg-cli {:mvn/version "0.3.1"}}
          :main-opts   ["-m" "nsorg.cli"
                        "--replace"]}

  :kondo {:extra-paths ["test"]
          :main-opts   ["-m clj-kondo.main"
                        "--lint src test"]
          :extra-deps {clj-kondo {:mvn/version "2020.05.02"}}}

  :new {:extra-deps {seancorfield/clj-new {:mvn/version "RELEASE"}}
        :main-opts ["-m" "clj-new.create"]}

  :uberjar {:extra-deps {seancorfield/depstar {:mvn/version "RELEASE"}}
            :main-opts ["-m" "hf.depstar.uberjar"]}

  :jar {:extra-deps {seancorfield/depstar {:mvn/version "RELEASE"}}
        :main-opts ["-m" "hf.depstar.jar"]}

  :install {:extra-deps {deps-deploy {:mvn/version "RELEASE"}}
            :main-opts ["-m" "deps-deploy.deps-deploy" "install"]}

  :deploy {:extra-deps {deps-deploy {:mvn/version "RELEASE"}}
           :main-opts ["-m" "deps-deploy.deps-deploy" "deploy"]}}}
